@import "reset.css";

body{
	font-family: Roboto,sans-serif;
}
.login-form{
	flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.all-page{
	display: flex;
	height: 100vh;
}
.left-side{
	flex: 2;
	display: flex;
	width: 100%;
	background-color: white;
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,.2);
	box-shadow: 0 2px 6px rgba(0,0,0,.2);
	z-index: 100;
}

.right-side{
	width: 100%;
	background-color: #00BCD4;
	flex: 3;
}
.form{
	width: 25rem;
	margin-top: 1em;
	margin-bottom: 12em;
}
.welcome{
	margin-left: auto;
	margin-right: auto;
}
.title{
	font-size: 1.7em;
}
.subtitle{
	margin-top: 1em;
	margin-left: 1.7em;
}
.btn{
	background-color: #607D8B !important;
  }
  .btn:visited{
	background-color: #00BCD4 !important;
  }
  .btn:active{
	background-color: #607D8B !important;
  }


  @keyframes yourAnimation{
    0%{
        transform: translateY(-2%);
        opacity: 0;
        }
    100%{
        transform: rotate(xx) translateY(0%);
        opacity: 1;
        }
}

.elementToAnimate{
    animation: yourAnimation 600ms 1 0s linear;
}

@media screen and (max-width:768px){
	.all-page{
		flex-direction: column-reverse;
	}
	.right-side{
		flex: 1;
	}
}


/*TELA HOME */
.nav-wrapper{
	background: #00BCD4;
}

.section{
	width: 30rem;
	height: 80vh;
	background: #ffffff;
	margin-top: 3rem;
	margin-left: auto;
	margin-right: auto;
}

#resposta{
	display: flex;
	position: relative;
	margin-bottom: 2rem;
}
#span-resposta{
	width: 100%;
    position: relative;
}
#input-resposta{
	position: absolute;
    top: -24px;
    max-width: 26.6rem;
}
